@charset "utf-8";
/* CSS Document - Surcharge css Agence */

/***********************************/
/* Background heading */
/***********************************/

/* A propos */
.parent601409 #zone1::before {
  background: url('img/readyforit/bg_about.jpg') no-repeat 0 0 / cover;
}

/* A propos - Edito */
.parent601409.node646016 #zone1::before {
  background: url('img/readyforit/bg_program_unroll.jpg') no-repeat 0 0 / cover;
}

/* Programme */
.parent601410 #zone1::before {
  background: url('img/readyforit/bg_program_committee.jpg') no-repeat 0 0 / cover;
}

/* Partenaires */
.parent601411 #zone1::before {
  background: url('img/readyforit/bg_partner.jpg') no-repeat 0 0 / cover;
}

/* Participation */
.parent601412 #zone1::before {
  background: url('img/readyforit/bg_participation.jpg') no-repeat 0 0 / cover;
}

/* Participation - Demande de participation */
.parent601412.node840153 #zone1::before {
  background: url('img/readyforit/bg_participation_request.jpg') no-repeat 0 0 / cover;
}

/* Infos pratiques */
.parent601415 #zone1::before {
  background: url('img/readyforit/bg_info.jpg') no-repeat 0 0 / cover;
}

/* Infos pratiques - Contact */
.parent601415.node646260 #zone1::before {
  background: url('img/readyforit/bg_info_contact.jpg') no-repeat 0 0 / cover;
}

/* Infos pratiques - FAQ */
.parent601415.node646261 #zone1::before {
  background: url('img/readyforit/bg_info_faq.jpg') no-repeat 0 0 / cover;
}

/* Infos pratiques - Les lieux */
.parent601415.node800165 #zone1::before {
  background: url('img/readyforit/bg_info_places.jpg') no-repeat 0 0 / cover;
}

/* Blog  */
.parent601413 #zone1::before {
  background: url('img/readyforit/bg_blog.jpg') no-repeat 0 0 / cover;
}

/* Press -  */
.parent601414 #zone1::before {
  background: url('img/readyforit/bg_press.jpg') no-repeat 0 0 / cover;
}
