@charset "utf-8";
/* CSS Document - Surcharge css Agence */

/***********************************/
/* Background heading */
/***********************************/

/* A propos */
.parent601409 #zone1::before {
  background: url('img/readyforit/bg_about.jpg') no-repeat 0 0 / cover;
}

/* Programme */
.parent601410 #zone1::before {
  background: url('img/readyforit/bg_program.jpg') no-repeat 0 0 / cover;
}

/* Partenaires medias */
.parent601411 #zone1::before {
  background: url('img/readyforit/bg_partner.jpg') no-repeat 0 0 / cover;
}

/* Participation */
.parent601412 #zone1::before {
  background: url('img/readyforit/bg_participation.jpg') no-repeat 0 0 / cover;
}

/* Infos pratiques */
.parent601415 #zone1::before {
  background: url('img/readyforit/bg_info.jpg') no-repeat 0 0 / cover;
}

/* Blog/Press */
.parent601413 #zone1::before,
.parent601399 #zone1::before {
  background: url('img/readyforit/bg_blog.jpg') no-repeat 0 0 / cover;
}


/***********************************/
/* Picots heading */
/***********************************/

/* A propos */
.parent601409 h1::before {
  width: 62px;
  height: 63px;
  background: url('img/readyforit/icon_about.svg') no-repeat center;
}

/* Programme */
.parent601410 h1::before {
  width: 62px;
  height: 63px;
  background: url('img/readyforit/icon_program.svg') no-repeat center;
}

/* Partenaires medias */
.parent601411 h1::before {
  width: 62px;
  height: 63px;
  background: url('img/readyforit/icon_partner.svg') no-repeat center;
}

/* Participation */
.parent601412 h1::before {
  width: 62px;
  height: 63px;
  background: url('img/readyforit/icon_participation.svg') no-repeat center;
}

/* Infos pratiques */
.parent601415 h1::before {
  width: 62px;
  height: 63px;
  background: url('img/readyforit/icon_info.svg') no-repeat center;
}

/* Blog/Press */
.parent601413 h1::before,
.parent601399 h1::before {
  width: 62px;
  height: 63px;
  background: url('img/readyforit/icon_blog.svg') no-repeat center;
}
