@charset "utf-8";
/* CSS Document - Surcharge css Agence */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/barlow/Barlow-Regular.eot');
  src: url('fonts/barlow/Barlow-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/barlow/Barlow-Regular.woff2') format('woff2'), url('fonts/barlow/Barlow-Regular.woff') format('woff'), url('fonts/barlow/Barlow-Regular.ttf') format('truetype'), url('fonts/barlow/Barlow-Regular.svg#Barlow') format('svg');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/barlow/Barlow-Medium.eot'); src: url('fonts/barlow/Barlow-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/barlow/Barlow-Medium.woff2') format('woff2'), url('fonts/barlow/Barlow-Medium.woff') format('woff'), url('fonts/barlow/Barlow-Medium.ttf')  format('truetype'), url('fonts/barlow/Barlow-Medium.svg#Barlow') format('svg');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/barlow/Barlow-Bold.eot');
  src: url('fonts/barlow/Barlow-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/barlow/Barlow-Bold.woff2') format('woff2'), url('fonts/barlow/Barlow-Bold.woff') format('woff'), url('fonts/barlow/Barlow-Bold.ttf')  format('truetype'), url('fonts/barlow/Barlow-Bold.svg#Barlow') format('svg');
}

/***********************************/
/* CUSTOM */
/***********************************/
html,
html *,
[class^="btn"],
.btn {
  font-family: 'Barlow', sans-serif;
}

body {
  color: #1e2339;
}

div,textarea, table, td, th, code, pre, samp {
  hyphens: none;
}

.site-wrapper {
  padding: 0 0 2rem;
  background-color: #ffffff;
}

.layout-2-col {
  padding: 7rem 0;
}

.front .layout-2-col {
  padding-top: 0;
}

.pub-container {
  width: 300px;
  margin: 1rem auto;
  text-align: center;
}

.article-content,
.partner-list {
  padding: 2rem;
}

.article-content figure {
  margin-top: 0;
  padding: 0;
  border: 0;
}

.article-content hr {
  clear: both;
  background: transparent;
}


/* Title */
h1, h2, h3, h4 {
  color: #1e2339;
  line-height: 1.2;
}

h1 {
  margin-bottom: 0;
  border: 0;
  font-size: 5.4rem;
  font-weight: 500;
}

h2 {
  margin: 0;
  border: 0;
  font-size: 4.4rem;
  font-weight: 500;
}

h2:not(:first-child) {
  margin-top: 5rem;
}

.front h2 {
  font-size: 4.4rem;
  font-weight: 700;
}

h3 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: normal;
}

.cl-content + h2,
.cl-content + h3 {
  margin-top: 3rem;
}

h4 {
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
}

h5 {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

/* Paragraphe */
p {
  font-size: 1.6rem;
}

p strong {
  font-weight: 500;
}

p.style1 {
  font-size: 2.4rem;
  font-weight: 500;
}

p.style2 {
  font-size: 1.8rem;
  font-weight: 500;
}

p.style3 {
  font-size: 1.4rem;
  font-weight: 500;
}

/* Liens */
a {
  color: #1e2339;
  text-decoration: none;
}

.externe {
  font-size: 1.4rem;
}

.externe.lien1 {
  font-size: 1.8rem;
}

.externe.lien2,
.externe.lien3,
.externe.lien4 {
  padding-left: 0.8rem;
  border-left: 5px solid;
}

.externe.lien2 {
  border-color: #ff3100;
  font-size: 1.4rem;
}

.externe.lien3 {
  border-color: #00c485;
  font-size: 1.8rem;
}

.externe.lien4 {
  border-color: #00e2ff;
  font-size: 1.8rem;
}

/* Button */
.cta-1,
.style1 a,
.cta-2,
.style2 a,
.cta-3,
.style3 a,
.style4 a {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.style1 a,
.style2 a,
.style3 a,
.style4 a {
  width: 27.9rem;
  margin: 3rem 0;
  font-size: 1.8rem;
}

.cta-1,
.style1 a {
  background: #ff3100;
  color: #ffffff;
}

.cta-1:hover,
.style1 a:hover {
  background: #ffffff;
  color: #ff3100;
}

.cta-2,
.style2 a {
  background: #ffffff;
  color: #ff3100;
}

.cta-2:hover,
.style2 a:hover {
  background: #ff3100;
  color: #ffffff;
}

.cta-3,
.style3 a {
  background: #ffffff;
  color: #00c485;
}

.cta-3:hover,
.style3 a:hover {
  background: #00c485;
  color: #ffffff;
}

.style4 a {
  background: #6dd700;
  color: #ffffff;
}

.style4 a:hover {
  background: #ffffff;
  color: #6dd700;
}

/* Color */
.important1 {
  color: #ff3100;
}

.important2,
.orange-light {
  color: #f39005;
}

.capsule-green {
  display: inline;
  background-color: #6dd700;
  font-size: 2.4rem;
  line-height: 1.4;
}

/* Fil d'Ariane */
.breadcrumb-nav {
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 1.5rem 1.5rem 0;
}

.bn-item:first-child::before {
  content: "";
  display: inline-block;
  margin: 0 5px;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-left: solid 7px #ffffff;
}

.bn-item:last-child {
  font-weight: 500;
}

.bn-item-link,
.bn-item .icon,
.bn-item-link:focus,
.bn-item-link:hover {
  color: #ffffff;
}

.bn-item-link {
  font-size: 1.4rem;
}

.breadcrumb-nav .icon-short-arrow-right::before {
  content: "-";
}

/* Arrow */
.arrow-right {
  display: inline-block;
  margin: 0 5px;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-left: solid 7px #f39005;
}

/* Slider */
.slider [class*="slider-btn"] {
  width: 36px;
  height: 36px;
  border: 0;
  background: #1e2339;
  font-size: 1.4rem;
}

.mobile-partner-gallery .slider-pagin-btn .btn .icon,
.mobile-partner-gallery .slider-pagin-btn .btn:focus .icon,
.mobile-partner-gallery .slider-pagin-btn .btn:hover .icon {
  color: #ffffff;
}

.cc-cookies {
  position: fixed;
  top: inherit;
  bottom: 0;
  padding: 1rem 5%;
  background: #1e2339;
  color: #ffffff;
}

.cc-cookie-link,
.cc-cookies a:hover,
.cc-cookies a:focus {
  color: #ffffff;
}

.cc-cookie-accept {
  right: 0;
  padding: 0 0.6rem 0 0.8rem;
  border-left: 5px solid #f39005;
  background: transparent;
  color: #ffffff;
  font-size: 1.4rem;
}


/***********************************/
/* HEADER */
/***********************************/

/* Header */
.site-banner {
  border-bottom: 1px solid #e3e9ea;
  background: transparent;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
}

.site-banner .inside {
  max-width: inherit;
  height: 70px;
  padding: 7px;
}

.site-banner .inside .quicklinks {
  display: flex;
  justify-content: flex-end;
  padding-right: 21rem;
  background: #1e2339;
}

.site-banner .inside .quicklinks .btn-primary {
  padding: 0.7rem 2.5rem;
  border: 0;
  background: #565968;
  font-size: 1.4rem;
}

.lang-switcher {
  right: 15rem;
  padding: 0.38rem 0;
  background: #1e2339;
}

.ls-trigger {
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  font-size: 1.4rem;
}

.ls-trigger::after {
  border-color: #ffffff transparent transparent;
}

.ls-trigger:focus {
  outline: 0;
}

.wrapper {
  max-width: inherit;
  padding: 70px 0 0;
}

.header-container {
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 56px;
  height: 56px;
  background: url('img/readyforit/logo.png') no-repeat center / 100%;
}

.title-logo {
  display: block;
  position: relative;
  font-size: 2rem;
  text-indent: -9999px;
}

.header-date {
  margin-left: 2rem;
  color: #1e2339;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.header-date p {
  margin: 0;
  line-height: 1.3;
}

.sb-menu-trigger {
  top: 10px;
  right: 0;
  left: initial;
  color: #ff3100;
}

.site-banner .icon::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 26px;
  background: url('img/readyforit/burger.png') no-repeat;
}

/* Navigation */
.headroom {
  position: fixed !important;
  background: #ffffff;
}

.headroom--unpinned {
  top: 0;
  transform: translateY(0);
}

.main-navigation {
  top: 70px;
}

.mn-menu,
.mn-item-lvl-1 {
  background: #ffffff;
}

.mn-item-lvl-1 {
  min-height: initial;
  border-bottom: 0;
  color: #1e2339;
}

.mn-link {
  padding: 0.7rem 3rem 0.7rem 4rem;
  font-weight: 500;
}

.mn-item-lvl-1 > .mn-link {
  padding: 0.75rem 3rem 0.75rem 1rem;
  color: #1e2339;
  font-size: 1.8rem;
  text-transform: inherit;
}

.mn-link-text::before {
  display: none;
}

.is-open .mn-link.mn-link {
  background: transparent;
  color: #003239;
}

.mn-link.mn-link:hover,
.mn-link.mn-link:focus,
.mn-link.mn-link.is-active {
  background: transparent;
  color: #ff3100;
}

.mn-menu-submenu {
  background: #ffffff;
  color: #003239;
}

.mn-menu-submenu .mn-link:hover,
.mn-menu-submenu .mn-link:focus,
.mn-menu-submenu .mn-link.is-active {
  background: #ffffff;
  color: #ff3100;
}


/***********************************/
/* SOUS NAV */
/***********************************/
.quicklinks-navigation {
  z-index: 1;
  width: 100%;
  margin: 0;
}

.quicklinks-navigation .ql-list {
  display: flex;
  margin: 1.5rem 0;
  overflow-x: auto;
  background: #f39005;
}

.quicklinks-navigation .ql-item {
  flex: 0 0 auto;
  border-bottom: 0;
  background: #f39005;
  text-align: center;
}

.quicklinks-navigation .ql-item-link {
  padding: 0.8rem 1rem;
  opacity: 0.7;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.quicklinks-navigation .ql-item-link:focus,
.quicklinks-navigation .ql-item-link:hover,
.quicklinks-navigation .ql-item-link.is-active {
  opacity: 1;
  background: #f39005;
}

/***********************************/
/* FOOTER */
/***********************************/
.site-footer {
  background: transparent;
}

.site-footer .inside {
  padding: 4.25em 0 0;
  border-top: 11px solid #565968;
  background: #1e2339;
}

.site-footer .inside .footer-top-container {
  margin-bottom: 4.25rem;
  padding: 0 2rem;
}

.site-footer a {
  color: #b2b6ca;
}

.site-footer .cta-1 {
  color: #ffffff;
}

.site-footer .cta-1:hover {
  color: #ff3100;
}

.site-footer .cta-2 {
  color: #ff3100;
}

.site-footer .cta-2:hover {
  color: #ffffff;
}

.site-footer .cta-3 {
  color: #00c485;
}

.site-footer .cta-3:hover {
  color: #ffffff;
}

.logo-dg-consultants {
  display: inline-block;
  width: 81px;
  height: 66px;
  margin-right: 1.5rem;
  background: url('img/readyforit/logo_dg.png') no-repeat;
}

.logo-comexposium {
  display: inline-block;
  width: 179px;
  height: 30px;
  background: url('img/readyforit/logo_comexposium.png') no-repeat center;
}

.footer-logos p {
  margin-top: 1.5rem;
}

.footer-newsletter {
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 1px solid #414555;
  border-bottom: 1px solid #414555;
  text-align: center;
}

.footer-newsletter p {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.footer-links .cta-1,
.footer-links .cta-2 {
  display: block;
  width: 100%;
  max-width: 234px;
  margin: 0 auto;
}

.footer-links .cta-1 {
  margin-bottom: 2rem;
}

.site-footer .follow-container {
  margin: 2rem auto 0;
  padding-top: 2rem;
  border-top: 1px solid #414555;
  text-align: center;
}

.follow-text {
  display: inline-block;
  padding-right: 0.6rem;
  padding-left: 0.8rem;
  border-left: 5px solid #00e2ff;
  font-size: 1.8rem;
  font-weight: 500;
}

.twitter-icon,
.linkedin-icon,
.youtube-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 0.6rem;
  vertical-align: middle;
}

.twitter-icon {
  background: url('img/readyforit/icon_twitter.png') no-repeat;
}

.linkedin-icon {
  background: url('img/readyforit/icon_linkedin.png') no-repeat;
}

.youtube-icon {
  background: url('img/readyforit/icon_youtube.png') no-repeat;
}

.site-footer .inside .footer-bottom-container {
  padding: 2rem;
  background: #141828;
  color: #b2b6ca;
}

.site-footer .footer-bottom-container .content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.site-footer .footer-bottom-container .content p {
  flex-shrink: 0;
  font-size: 1.2rem;
}

.footer-bottom-container ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom-container li {
  flex-shrink: 0;
}

.footer-bottom-container [class^="btn"] {
  padding: 0 1rem 0 0;
  border: 0;
  background: transparent;
  color: #b2b6ca;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  border-color: transparent;
  background-color: transparent;
  color: #b2b6ca;
}


/***********************************/
/* HEADING BLOC */
/***********************************/
#zone1 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: 500px;
  background: #1e2339;
}

div#zone1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.45;
}

h1,
.faq-main-title,
.main-title-with-link > .main-title {
  position: absolute;
  top: 14rem;
  right: 2rem;
  left: 2rem;
  padding: 0 !important;
  border: 0;
  color: #ffffff;
  font-size: 3.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.intro,
.article-intro {
  position: absolute;
  top: 23rem;
  right: 2rem;
  left: 2rem;
  margin: 0;
  color: #ffffff;
}

.intro p,
.article-intro p,
.intro h2,
.article-intro h2 {
  margin-top: 0 !important;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
}

.main-title-with-link {
  margin-bottom: 0;
  border: 0;
}

/* Partenaires médias */
.node666356 .intro {
  position: inherit;
  padding: 0;
  color: #1e2339;
  text-align: left;
}

.node666356 .intro p {
  color: #1e2339;
  font-size: 1.6rem;
  font-weight: normal;
}


/***********************************/
/* HOME */
/***********************************/
/* Slider */
.front #zone1 {
  display: block;
}

.front #zone1 .cta-1 {
  position: absolute;
  z-index: 6;
  bottom: 70px;
  left: 3rem;
  margin: 0;
  padding: 0;
}

.front #zone1 .cta-1 .btn-primary {
  padding: 1rem 2rem;
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
}

.front #zone1 .cta-1:hover,
.front #zone1 .cta-1 .btn-primary:focus,
.front #zone1 .cta-1 .btn-primary:hover,
.front #zone1 .cta-1 .btn-primary:active {
  color: #ff3100;
}

.front #zone1 .list-articles {
  margin-top: 0;
}

#zone1 .slider {
  position: relative;
  height: 100%;
}

#zone1 .la-slider .la-item-title a:focus,
#zone1 .la-slider .la-item-title a:hover {
  color: #ffffff;
}

#zone1 .slider-pagin {
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;
  background: transparent;
}

#zone1 .la-slider .slider-pagin-btn {
  display: flex;
  top: inherit;
  right: 0;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

#zone1 .slider [class*="slider-btn"] {
  background: rgba(255, 255, 255, 0.5);
}

#zone1 .slider [class*="slider-btn"]:hover {
  background: rgba(255, 255, 255, 1);
}

#zone1 .slider [class*="slider-btn"] .icon {
  color: #1e2339;
}

#zone1 .slider-pagin-item {
  border: 1px solid #ffffff;
  border-radius: 0;
  opacity: 0.5;
  background: #ffffff;
}

#zone1 .slider-pagin-item.is-active,
.slider-pagin-item.is-active:focus,
.slider-pagin-item.is-active:hover {
  border-color: #ffffff;
  opacity: 1;
  background: #ffffff;
}

#zone1 .la-slider .slider-item {
  position: relative;
  flex: 0 0 100%;
  height: 500px;
  margin: 0;
  padding: 0;
}

#zone1 .la-slider .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

#zone1 .la-slider .la-item-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 3rem;
}

#zone1 .la-slider .la-item-title {
  margin-bottom: 0;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
}

#zone1 .la-slider .la-item-content p {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

#zone1 .la-slider .la-item-content .btn-primary {
  padding: 0 0 0 0.8rem;
  border-bottom: 0;
  border-left: 5px solid;
  border-color: #ff3100;
  background: transparent;
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: inherit;
}

#zone1 .la-slider .la-item-content .btn-primary .icon {
  display: none;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 2rem;
}

.title-container .follow-container {
  display: none;
}

/* Edito */
.front #zone2 .edito {
  margin-top: 3rem;
}

.front #zone2 .edito .inside {
  padding: 0 2rem;
}

.front #zone2 .edito h2 {
  color: #ff3100;
}

.front #zone2 .edito h2::before,
.title-temps-forts::before,
.title-actualites::before {
  content: '';
  display: inline-block;
  margin-right: 1.5rem;
}

.front #zone2 .edito h2::before {
  width: 10px;
  height: 41px;
  background: url('img/readyforit/icon_edito.png') no-repeat;
}

.front #zone2 .edito h4 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
}

.front #zone2 .edito p {
  margin-top: 2rem;
}

.front #zone2 .edito .edito-item-btn a {
  padding-left: 0.8rem;
  border-left: 5px solid #ff3100;
  color: #1e2339;
  font-weight: 500;
  text-decoration: none;
}

/* Focus/blockquote */
.focus-container {
  position: relative;
  height: 500px;
  margin: 5rem 0 0;
}

.focus-container::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 425px;
  background: transparent url('img/readyforit/bg_logo.png') no-repeat center bottom / 100%;
}

.focus-container .focus {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 1rem;
  left: 1rem;
  padding: 1rem 2rem 4rem;
  background: #ff7600;
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 1.2;
}

.focus-container .focus::after {
  content: '+';
  display: inline-block;
  position: absolute;
  bottom: -17px;
  left: calc(50% - 18px);
  width: 36px;
  height: 36px;
  background: #ffffff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.22);
  color: #1e2339;
  font-size: 4rem;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
}

.article-content ul,
.content-list-bullet {
  margin: 1rem 0;
  padding-left: 0;
}

.article-content ul > li::before,
.content-list-bullet > li::before {
  margin-right: 2rem;
  margin-left: 0;
  transform: rotate(0);
  border-radius: 50%;
  background: #1e2339;
}

.article-content ul.style1 > li strong,
.content-list-bullet ul.style1 > li strong {
  font-size: 1.8rem;
  font-weight: 500;
}

.article-content blockquote {
  width: 780px;
  background: #ff7600;
}

.article-content blockquote p {
  padding-left: 0;
  border-left: 0;
  font-size: 2.4rem;
  line-height: 1.3;
}

.article-content blockquote .icon-quote {
  top: calc(50% - 18px);
  right: -17px;
  left: inherit;
  width: 36px;
  height: 36px;
  margin-top: 0;
  padding-top: 0;
  border-radius: 0;
  background: #ffffff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.22);
  color: #1e2339;
  font-size: 4rem;
  line-height: 0.8rem;
  text-align: center;
}

.article-content blockquote i.icon::before {
  content: "+";
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  line-height: 0.8;
}


/* Vidéos */
.videos-container {
  background: #1e2339 url('img/readyforit/bg_1.jpg') no-repeat  0 0 / cover;
  color: #ffffff;
}

.videos-container h2 {
  color: #ffffff;
  font-size: 3.25rem;
  font-weight: 500;
}

.videos-text {
  padding: 7rem 2rem 3rem;
}

.videos-text a {
  display: inline-block;
  margin-top: 3rem;
  padding-left: 0.8rem;
  border-left: 5px solid #6dd700;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.videos-content {
  max-width: 320px;
  margin: 0 auto;
}

.videos-content .capsule-green {
  padding: 0 2rem;
}

.videos {
  width: 300px;
  margin: 1rem 0 0 1rem !important;
  padding-bottom: 3rem;
}

.videos .slick-list {
  height: 161px;
  margin-bottom: 4rem;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.85);
}

.videos iframe {
  width: 300px;
  height: 161px;
}

.videos .slick-prev,
.videos .slick-next {
  z-index: 2;
  top: inherit;
  bottom: 1rem;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.5);
}

.videos .slick-prev {
  left: 0;
}

.videos .slick-next {
  right: 0;
}

.videos .slick-prev::before,
.videos .slick-next::before {
  color: #1e2339;
}

.videos .slick-dots {
  position: relative;
  bottom: 0;
  margin-top: 1rem;
}

/* Actualités */
.title-actualites {
  color: #00c485;
}

.title-actualites::before {
  width: 40px;
  height: 40px;
  background: url('img/readyforit/icon_actualites.png') no-repeat;
}

.title-link {
  display: inline-block;
  padding-right: 0.6rem;
  padding-left: 0.8rem;
  border-left: 5px solid #00c485;
  color: #1e2339;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

.front #zone2 .grid-la-list {
  margin-left: 0;
  padding-top: 0;
}

.front #zone2 .actu-container {
  position: relative;
}

/* Programme */
.program-container {
  position: relative;
  margin-bottom: 9rem;
  padding: 2rem;
  background: url('img/readyforit/bg_2.jpg') no-repeat 0 0 / cover;
  color: #ffffff;
}

.program-container h2 {
  margin-top: 3.8rem;
  padding-bottom: 0;
  color: #ffffff;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.program-container p {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.program-focus {
  margin: 5rem 0 7rem;
}

.program-focus a {
  display: block;
  position: relative;
  margin: 2rem 0;
  padding: 2rem;
  background: #1e2339;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
}

.program-focus a::after {
  content: '+';
  display: inline-block;
  position: absolute;
  top: calc(50% - 18px);
  right: -10px;
  width: 36px;
  height: 36px;
  background: #ffffff;
  color: #1e2339;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
}

.btn-container {
  position: absolute;
  right: 0;
  bottom: -34px;
  left: 0;
}

.program-btn {
  display: inline-block;
  margin-top: 3rem;
  padding: 1.3rem 2rem;
  background: #ffffff;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.5);
  color: #ff3100;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.program-btn:hover {
  background: #ff3100;
  color: #ffffff;
}

/* Temps forts */
.title-temps-forts {
  color: #00e2ff;
}

.title-temps-forts::before {
  width: 41px;
  height: 41px;
  background: url('img/readyforit/icon_temps_forts.png') no-repeat;
}

.front #zone2 .highlight-container {
  position: relative;
}

.front #zone2 .highlight-container .slider {
  height: 455px;
  padding: 0 2rem;
  background: transparent;
}

.front #zone2 .highlight-container .slider-content {
  align-items: flex-start;
}

.front #zone2 .highlight-container .slider-item {
  display: block;
  max-width: 363px;
  margin-right: 2rem;
  padding-top: 0;
  background: #ffffff;
  box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.25);
}

.front #zone2 .highlight-container .slider-item img {
  width: 100%;
  max-height: 190px;
}

.front #zone2 .highlight-container .la-item-content,
.front #zone2 .highlight-container .la-item-title,
.front #zone2 .highlight-container .la-item-title a {
  color: #1e2339;
}

.front #zone2 .highlight-container .la-item-content {
  height: 213px;
  padding: 2rem;
}

.front #zone2 .highlight-container .la-item-title,
.front #zone2 .highlight-container .la-item-title a {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.front #zone2 .highlight-container .la-item-content p {
  margin-top: 2rem;
}

.front #zone2 .highlight-container .la-item-content .btn-primary {
  padding: 0;
  border: 0;
  border-left: 5px solid #00e2ff;
  background: transparent;
  color: #1e2339;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: inherit;
}

.front #zone2 .highlight-container .slider-pagin {
  position: absolute;
  z-index: 1;
  top: calc(40% - 18px);
  right: 0;
  bottom: inherit;
  left: 0;
  background: transparent;
}

.front #zone2 .highlight-container .slider-pagin-btn {
  display: flex;
  position: inherit;
  top: 0;
  right: 1rem;
  bottom: inherit;
  left: 1rem;
  justify-content: space-between;
  width: auto;
}

.front #zone2 .highlight-container .slider-pagin-btn .btn {
  background: #ffffff;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.25);
}

.front #zone2 .highlight-container .slider-pagin-btn .btn .icon {
  color: #1e2339;
}

.front #zone2 .highlight-container .slider-pagin-nb {
  display: none;
}

#zone2 .follow-container {
  margin: 4rem 2rem;
}


/* Partenaires */
.front #zone4 {
  margin: 3rem auto 0;
  padding-bottom: 3rem;
}

.front #zone4 .edito {
  padding: 5rem 2rem;
  background: url('img/readyforit/bg_3.jpg') no-repeat 0 0 / cover;
  color: #ffffff;
  font-size: 2.6rem;
  font-weight: 500;
}

.front #zone4 .edito h2 {
  color: #ffffff;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.front #zone4 .edito p {
  margin: 0;
}

.front #zone4 .edito p:last-child {
  text-align: center;
}

.front #zone4 .edito a {
  display: inline-block;
  margin-top: 3rem;
  padding: 1rem 2rem;
  background: #ffffff;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.5);
  color: #1e2339;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.front #zone4 .edito a:hover {
  background: #1e2339;
  color: #ffffff;
}

.front #zone4 .partner {
  position: relative;
  box-shadow: 0 5px 55px 0 rgba(0, 0, 0, 0.25);
}

.front #zone4 .slider {
  background: #ffffff;
}

.front #zone4 .slider-content {
  margin: 0 auto;
}

.front #zone4 .slider-content .pg-item-illust {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.front #zone4 .pg-item-title {
  display: none;
}

.front #zone4 .slider-pagin {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border: 0;
}

.front #zone4 .slider-pagin-btn {
  display: flex;
  justify-content: space-between;
}

.front #zone4 .mobile-partner-gallery .btn {
  background-color: #1e2339;
}

.front #zone4 .pg-pagin-nb {
  display: none;
}


/***********************************/
/* All in one */
/***********************************/
.front .main-title-with-link,
.node646244 .link-view-all,
.node798641 .link-view-all {
  display: none;
}

.article-title {
  position: inherit;
}

.article-title img {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 420px;
  object-fit: cover;
  opacity: 0.5;
}

.at-publication {
  display: none;
}

.cl-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cl-item {
  width: 100%;
  max-width: 320px;
  height: 375px;
  margin: 2rem;
  padding: 0;
  border-bottom: 0;
}

.cl-item > * {
  padding: 0;
}

.cl-item-content {
  position: relative;
  width: 100%;
  height: 166px;
  padding: 1.5rem 2rem 0;
  background: #ffffff;
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.25);
  color: #f39005;
  font-weight: 500;
}

.cl-item-content:hover {
  left: -2.5rem;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.25);
}

.cl-item-title {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.cl-item-subtitle {
  color: #7b7c7f;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.2;
  text-transform: inherit;
}

.cl-item-email {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  left: 2rem;
}

.cl-item-email .label::before {
  content: '';
  position: absolute;
  width: 33px;
  height: 28px;
  background: #ffffff url('img/readyforit/icon_msg.png') no-repeat left center;
}

.cl-item-email .label::after {
  content: 'Envoyer un email';
  position: absolute;
  left: 3.3rem;
  background: #ffffff;
}

.cl-item-email a {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 70%;
  overflow: hidden;
  opacity: 0;
}

.cl-item-phone {
  position: absolute;
  right: 2rem;
  bottom: 6rem;
  left: 2rem;
}

.cl-item-phone:last-child {
  bottom: 4rem;
}

.cl-item-phone .label {
  display: none;
  color: #ffffff;
}

.cl-item-phone:last-child .label {
  display: inline-block;
}

.cl-item-phone:last-child .label::before {
  content: '';
  position: absolute;
  bottom: 0.7rem;
  width: 33px;
  height: 32px;
  background: #ffffff url('img/readyforit/icon_phone.png') no-repeat;
}

.cl-item-phone span:last-child {
  padding-left: 3.3rem;
}

.cl-item-phone:last-child span:last-child {
  position: absolute;
  left: 3.3rem;
  padding-left: 0;
  background: #ffffff;
}

.cl-item-social {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  left: 2rem;
}

.cl-item-social [class^="social"] {
  margin-right: 1rem;
}

.cl-item-social .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 3rem;
  background: #f39005;
}

.cl-item-social .icon::before {
  color: #ffffff;
}

.social-sharing {
  border: 0;
}

.social-sharing .sr-title {
  display: inline-block;
  padding-right: 0.6rem;
  padding-left: 0.8rem;
  border-left: 5px solid #00e2ff;
  font-size: 1.8rem;
}

.social-sharing .sr-list {
  display: inline-block;
}

.social-sharing .sr-item {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.social-sharing .sr-item .btn-large {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2rem;
}

.social-sharing .sr-item-txt {
  display: none;
}

.social-sharing .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 3rem;
  background: #00e2ff;
}

.social-sharing .icon::before {
  color: #ffffff;
}

.place-content {
  position: relative;
  margin-bottom: 4rem;
}

.place-content img {
  width: 100%;
  max-width: 898px;
}

/* Les lieux*/
.info-content {
  position: absolute;
  top: 40px;
  right: 15px;
  width: 363px;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.25);
}

.info-content:hover {
  right: 25px;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.25);
}

.info-content .adresse {
  margin-top: 0.5rem;
  color: #7b7c7f;
  font-size: 1.6rem;
  line-height: 1.2;
}

.info-content .phone-item,
.info-content .web-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.info-content .phone-item,
.info-content .web-item a {
  color: #f39005;
  font-weight: 500;
}

.icon-phone {
  content: '';
  display: inline-block;
  width: 19px;
  height: 32px;
  margin-right: 1.5rem;
  background: #ffffff url('img/readyforit/icon_phone.png') no-repeat;
}

.icon-web {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 1.5rem;
  background: #ffffff url('img/readyforit/icon_map.png') no-repeat;
}

.grid-la-list {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 5rem 2rem 0;
}

.node798641 .grid-la-list {
  padding: 5rem 0 0;
}

.gla-item {
  width: 100%;
  max-width: 350px;
  height: 415px;
  margin: 0 0 3rem;
  padding: 0;
  box-shadow: none;
}

.node800165 .gla-item {
  max-width: 329px;
  height: 450px;
  margin-bottom: 5rem;
}

.gla-item img {
  width: 100%;
  max-height: 160px;
}

.node800165 .gla-item img {
  height: 100%;
  max-height: 285px;
}

.gla-item-content {
  right: 0;
  bottom: inherit;
  left: 0;
  height: 250px;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.node800165 .gla-item-content {
  bottom: 0;
  left: calc(50% - 150px);
  max-width: 300px;
  height: 224px;
}

h2.gla-item-title {
  margin-top: 0;
  font-weight: 500;
}

.node800165 .gla-item-title {
  margin: 0;
  color: #1e2339;
  font-size: 1.8rem;
  font-weight: 500;
}

.gla-item > a:hover .gla-item-title,
.gla-item > a:focus .gla-item-title {
  color: #1e2339;
}

.gla-item-content .gla-item-desc,
.gla-item-content > h2 {
  margin-top: 1.5rem;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.625;
}

/* Les lieux */
.node800165 #zone2 {
  padding: 0 1rem;
}

.node800165 .gla-item-desc {
  margin-top: 0.5rem;
  color: #7b7c7f;
  font-size: 1.6rem;
}

.node800165 .gla-item-desc strong {
  display: flex;
  align-items: center;
  margin-top: 3.2rem;
  color: #1e2339;
  font-weight: 500;
}

.node800165 .gla-item-desc strong::before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 32px;
  margin-right: 1.5rem;
  background: #ffffff url('img/readyforit/icon_phone.png') no-repeat;
}

.gla-item-content .gla-item-btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  margin-top: 2rem;
  padding: 0 0 0 0.8rem;
  border-left: 5px solid #00c485;
  color: #1e2339;
  line-height: 1.2;
}

.node800165 .gla-item-content .gla-item-btn {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0;
  border-left: 0;
}

.node800165 .gla-item-content .gla-item-btn::before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 1.5rem;
  background: #ffffff url('img/readyforit/icon_map.png') no-repeat;
}

.gla-btn-read-more {
  padding: 0;
  border: 0;
  background: transparent;
  color: #1e2339;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  text-transform: inherit;
}

.gla-btn-read-more:focus,
.gla-btn-read-more:hover,
.gla-btn-read-more:active {
  border-color: transparent;
  background-color: transparent;
  color: #1e2339;
}

.node800165 .gla-btn-read-more:focus,
.node800165 .gla-btn-read-more:hover,
.node800165 .gla-btn-read-more:active {
  color: #f39005;
}

.node798641 #zone2 {
  display: block;
  min-height: 560px;
  margin: 0 auto;
}

#zone2 .grid-la-list .la-list.has-2col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

#zone2 .grid-la-list .link-read-more {
  padding-left: 0.8rem;
  color: #1e2339;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

#zone2 .actu-container .link-read-more,
#zone2 .grid-la-list .link-read-more {
  border-left: 5px solid #00c485;
}

#zone2 .grid-la-list .link-read-more .icon {
  display: none;
}

#zone2 .grid-la-list .la-highlight > .la-item:first-child {
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0 2rem;
  border: 0;
}

#zone2 .grid-la-list .la-highlight > .la-item:first-child .la-item-header {
  max-width: 420px;
  max-height: 230px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.85);
}

#zone2 .grid-la-list .la-highlight > .la-item:first-child .la-item-header img {
  width: 100%;
}

#zone2 .grid-la-list .la-highlight > .la-item:first-child .la-item-title-wrap {
  display: none;
}

#zone2 .grid-la-list .la-highlight > .la-item:first-child .la-item-content {
  position: relative;
  z-index: 5;
  top: -2.5rem;
  left: 0;
  width: 100%;
  padding: 0;
}

#zone2 .grid-la-list .la-item-title {
  font-weight: 500;
  line-height: 1.2;
}

#zone2 .grid-la-list .la-item-title a,
#zone2 .grid-la-list .la-item-title a:focus,
#zone2 .grid-la-list .la-item-title a:hover {
  color: #1e2339;
  text-decoration: none;
}

#zone2 .grid-la-list .la-highlight > .la-item:first-child .la-item-desc,
#zone2 .grid-la-list .la-highlight > .la-item:first-child h2 {
  display: inline;
  background-color: #ffffff;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.4;
}

#zone2 .grid-la-list .la-highlight > .la-item:first-child .la-item-desc u,
#zone2 .grid-la-list .la-highlight > .la-item:first-child h2 u {
  color: #00c485;
  text-decoration: none;
}

#zone2 .grid-la-list .la-highlight > .la-item:first-child .la-item-btn {
  margin-top: 2rem;
}

#zone2 .grid-la-list .la-column {
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
  width: 100%;
  margin: 0 0 6rem;
  padding: 0;
}

.front #zone2 .grid-la-list .la-column {
  display: block;
  max-width: 340px;
  margin: 0;
}

.front #zone2 .grid-la-list .la-column .slick-prev,
.front #zone2 .grid-la-list .la-column .slick-next {
  z-index: 2;
  top: 35%;
}

.front #zone2 .grid-la-list .la-column .slick-prev {
  left: 0;
}

.front #zone2 .grid-la-list .la-column .slick-next {
  right: 0;
}

#zone2 .grid-la-list .la-column .slick-slide {
  padding: 1rem 1rem 0;
}

#zone2 .grid-la-list .la-column .la-item {
  display: block;
  max-width: 350px;
  margin: 0 2rem 3rem;
  padding: 0;
  transition: all 0.3s ease-out;
  border: 0;
  background: #ffffff;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.25);
}

.front #zone2 .grid-la-list .la-column .la-item {
  margin: 0 0 3rem;
}

#zone2 .grid-la-list .la-column .la-item-header {
  display: flex;
  align-items: center;
  max-height: 160px;
  overflow: hidden;
}

#zone2 .grid-la-list .la-column .la-item-content {
  position: relative;
  width: auto;
  height: 250px;
  padding: 2rem;
}

#zone2 .grid-la-list .la-column .la-item-desc,
#zone2 .grid-la-list .la-column h2:not(:first-child) {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.2;
}

#zone2 .grid-la-list .la-column h2:not(:first-child) {
  margin-top: 1.5rem;
}

#zone2 .grid-la-list .la-column p {
  margin-top: 1.5rem;
}

#zone2 .grid-la-list .la-column .la-item-btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.node666356 .layout-2-col {
  background: #fcfcfc;
}

.pl-item-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5rem;
}

.pl-item {
  width: 100%;
  max-width: 329px;
  margin-bottom: 3rem;
  padding: 2rem;
  border-bottom: 0;
  background: #ffffff;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.pl-item-content {
  text-align: left;
}

.pl-item-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.pl-item-content .ezxmltext-field p {
  color: #7b7c7f;
  line-height: 1.2;
}

.pl-item-read-more a,
.pl-item-read-more a:focus,
.pl-item-read-more a:hover {
  color: #1e2339;
  font-weight: 500;
}

.pl-item-read-more a .icon {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 1.5rem;
  background: #ffffff url('img/readyforit/icon_map.png') no-repeat;
}


/* Contact */
.node646260 .article-wrapper::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 260px;
  background: url('img/readyforit/bg_mozaique2.png') no-repeat center / 100%;
}

.node646260 #zone2 .article-content > * {
  width: 42%;
}

.node646260 #zone2 h4 {
  margin-bottom: 1em;
}

.node646260 #zone2 .article-content a.externe {
  display: inline-block;
  width: 27.9rem;
  margin: 3rem 0;
  padding: 1rem 2rem;
  background: #6dd700;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.node646260 #zone2 .article-content a.externe:hover {
  background: #ffffff;
  color: #6dd700;
}

/* FAQ */
body.faq .wrapper {
  background: #fcfcfc;
}

body.faq .faq {
  margin: 4rem 0;
}

.faq .faq-sub-title,
.faq .faq-summary,
.faq-content h2 {
  display: none;
}

.faq-content .fc-item,
.faq-content .fc-item:nth-child(odd) {
  position: relative;
  margin-bottom: 1rem;
  padding: 0;
  border-bottom: 0;
  background: #ffffff;
}

.faq-content .fc-item-link {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1.5rem 4rem 1.5rem 2rem;
  background: #ffffff;
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.25);
  font-size: 1.8rem;
  font-weight: 500;
}

.faq-content .fc-item-link:hover,
.faq-content .fc-item-link:focus,
.faq-content .fc-item-link:active {
  color: #ff3100;
  text-decoration: none;
}

.faq-content .fc-item-link .icon {
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
  color: #1e2339;
}

.faq-content .fc-item-link .icon::before {
  content: "+";
  font-family: 'Barlow', sans-serif;
  font-size: 3rem;
}

.faq-content .fc-item-link:hover .icon::before,
.faq-content .fc-item-link:focus .icon::before,
.faq-content .fc-item-link:active .icon::before {
  color: #ff3100;
}

.faq-content .fc-item-link.is-active,
.faq-content .fc-item-content.is-open {
  background: #1e2339;
  box-shadow: none;
  color: #ffffff;
}

.faq-content .fc-item-content.is-open {
  padding: 1rem 2rem 2rem;
}

.faq-content .fc-item-link.is-active .icon,
.faq-content .fc-item-link.is-active:hover .icon,
.faq-content .fc-item-link.is-active:focus .icon,
.faq-content .fc-item-link.is-active:active .icon {
  width: 35px;
  height: 35px;
  margin-right: 0;
  background: #ffffff;
  color: #1e2339;
  text-align: center;
}

.faq-content .fc-item-link.is-active .icon::before,
.faq-content .fc-item-link.is-active:hover .icon::before,
.faq-content .fc-item-link.is-active:focus .icon::before,
.faq-content .fc-item-link.is-active:active .icon::before {
  content: "-";
  color: #1e2339;
}

/* Aller à Monaco */
.node646244 #zone1 {
  position: relative;
}

.node646244 .grid-la-list {
  padding: 3rem 2rem;
}

.node646244 .gla-item-content {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  margin-bottom: 2rem;
  padding: 17rem 0 6rem;
  box-shadow: none;
  text-align: center;
}

.node646244 .gla-item > a {
  display: block;
  background: transparent url('img/readyforit/bg_transport.png') no-repeat center top / cover;
}

.node646244 .gla-item .gla-item-content .gla-item-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.node646244 .gla-item .gla-item-content .gla-item-btn {
  display: none;
}

.node646244 .gla-item:nth-child(1n) .gla-item-content {
  background: rgba(30, 35, 57, 0.8) url('img/readyforit/icon_plane.png') no-repeat center 6rem;
}

.node646244 .gla-item:nth-child(2n) .gla-item-content {
  background: rgba(30, 35, 57, 0.8) url('img/readyforit/icon_bus.png') no-repeat center 6rem;
}

.node646244 .gla-item:nth-child(3n) .gla-item-content {
  background: rgba(30, 35, 57, 0.8) url('img/readyforit/icon_car.png') no-repeat center 6rem;
}

.node646244 .gla-item:nth-child(4n) .gla-item-content {
  background: rgba(30, 35, 57, 0.8) url('img/readyforit/icon_helico.png') no-repeat center 6rem;
}

.node646244 .gla-item .gla-item-content::after {
  content: "+";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.22);
  font-size: 3.5rem;
  line-height: 25px;
}

.node646244 .gla-item .gla-item-content:hover {
  margin-bottom: 3rem;
  background-color: rgba(243, 144, 5, 0.8);
}

.node646244 .gla-item .gla-item-content:hover::after {
  bottom: -16px;
  color: #2b2f2f;
}

/* Page 404 */
.error404 #zone1,
.error404 #zone4 {
  display: none;
}

.error404 .ep-intro {
  padding: 4rem 2rem 0;
}

.error404 .main-title {
  display: block;
  position: inherit;
  margin-bottom: 1em;
  padding: 0;
  color: #1e2339;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  text-transform: inherit;
}

.error404 .intro {
  position: inherit;
  padding: 0;
  color: #1e2339;
  text-align: left;
}

.error404 .intro p {
  color: #1e2339;
}

.error404 .inside.ep-form-wrap {
  display: none;
}


/* Navigation article */
.article-navigation .an-item-previous .an-item-title,
.article-navigation .an-item-previous .an-item-publication {
  padding-left: 4rem;
}

.article-navigation .an-item-next .an-item-content {
  text-align: right;
}

.article-navigation .an-item-next .an-item-title,
.article-navigation .an-item-next .an-item-publication {
  padding-right: 4rem;
}

/* Pages liens footer */
.sitemap .wrapper {
  padding: 90px 2rem 2rem;
}

.sitemap .sm-item-title {
  border-bottom: 0;
  color: #1e2339;
}

.parent659648 .article-title {
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.parent659648 h1,
.parent659648 .article-intro,
.parent659648 .article-intro p {
  display: block;
  position: inherit;
  padding: 0;
  color: #1e2339;
  text-align: left;
  text-transform: inherit;
}

.parent659648 .article-intro {
  margin: 2rem auto 0;
  padding: 0 2rem;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) {
  .front #zone2 .grid-la-list .la-column {
    max-width: 720px;
  }
}
